lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pyc
*.txt
*.json
*.db
*.xlsx
*.tsv
*.vcf
*.onco

pids
logs
results

.idea

node_modules
dist
.tmp
.sass-cache
app/components
app/data
db/sh
app/bower_components
npm-debug.log
_public
2015_*
2016_*
transfer
doc
temp
data
.*
data_upload/data
data_upload/ssl
data_upload/config
scripts
ssl
venv_upload

/env
~*
client_secrets.json
bulkloader*
bigquery_credentials.dat
activate

# ignore osx files
.DS_Store

